.container-fluid {
  width: 100%;
  min-width: 320px;

  @media @tablet-widths {
    width: 87%;
    max-width: 1050px;
    margin: 0 auto;
  }

  @media @desktop-widths {
    width: 91.3%;
  }
}

.container() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
      width: 668px;
  }

  @media @desktop-widths {
      width: 1050px;
  }

}

.zigzag() {

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 6px;

    background-image: url("../img/zigzag-desktop.svg");
    background-size: contain;

    @media @tablet-widths {
      height: 17px;
    }

    @media @desktop-widths {
      height: 23px;
    }
  }
}
