@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/opensans-bold-webfont.woff2") format("woff2"),
         url("../../fonts/opensans-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/opensans-italic-webfont.woff2") format("woff2"),
         url("../../fonts/opensans-italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/opensans-regular-webfont.woff2") format("woff2"),
         url("../../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}


body {
  min-width: 320px;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  width: 100%;
  height: 48px;
  border: 2px solid @color-base;

  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
