@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
         url("../fonts/opensans-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
         url("../fonts/opensans-italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
         url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}


body {
  min-width: 320px;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: 2px solid @color-base;

  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;

  transition: background-color 0.5s, color 0.5s;

  &:hover {
    background-color: #444444;
    color: #ffffff;

    transition: background-color 0.5s, color 0.5s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    transition: color 0.5s;
  }
}


// Кастомные элементы

// Радиокнопки
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: flex;
  align-items: center;

  cursor: pointer;
}

input[type="radio"] + label .radio-indicator {
  position: relative;

  min-width: 37px;
  width: 37px;
  height: 37px;
  margin-right: 20px;
  border: 2px solid @color-base;;

  border-radius: 50%;
}

input[type="radio"]:checked + label .radio-indicator::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;

  width: 17px;
  height: 17px;

  border-radius: 50%;
  background-color: #62d1ba;
}

// Чекбоксы
input[type="checkbox"] + label .checkbox-indicator {
  position: relative;

  min-width: 37px;
  width: 37px;
  height: 37px;
  margin-right: 20px;
  border: 2px solid @color-base;
}

input[type="checkbox"] + label .checkbox-indicator::before,
input[type="checkbox"] + label .checkbox-indicator::after {
  content: "";
  position: absolute;

  height: 3px;

  background-color: #000000;
}

input[type="checkbox"]:checked + label .checkbox-indicator::before {
  top: 21px;
  left: 5px;

  width: 11px;

  transform: rotate(45deg);
}

input[type="checkbox"]:checked + label .checkbox-indicator::after {
  top: 18px;
  left: 10px;

  width: 23px;
  transform: rotate(-45deg);
}

// Текстовые поля, телефона, email
input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid #000000;

  outline: none;
  background-color: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @color-base;
  opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @color-base;
  opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @color-base;
  opacity: 0.3;
}
:-moz-placeholder { /* Firefox 18- */
  color: @color-base;
  opacity: 0.3;
}

textarea {
  resize: none;
  padding: 15px;
  border: 2px solid @color-base;
}
