.about-us {
  font-family: @base-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: @color-strong;

  background-color: #ffffff;

  &__title {
    font-size: 24px;
    line-height: 30px;
    color: @color-title;
  }

  &__item {
    list-style: none;
  }
}
