.catalog-item {

  &__description {
    padding: 0 30px;
    margin-bottom: 30px;
    border: 1px solid #ececec;
  }

  &__image {
    font-size: 0;
    background-color: #e5e5e7;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 15px;

    font-family: @base-font;
    font-size: 16px;
    line-height: 24px;
  }

  &__properties {
    margin-bottom: 20px;

    font-family: @decor-font;
    font-size: 14px;
    line-height: 30px;
    color: @color-base;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 73px;
    border-top: 1px solid #ececec;

    font-family: @base-font;
    font-size: 14px;
    line-height: 24px;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
  }
}
