.contacts {
  padding: 40px 0;

  font-family: @contact-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-base;

  background-color: #ffffff;

  &__wrapper {
    .container();

    box-sizing: border-box;
    padding: 0 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;

    font-family: @base-font;
    font-weight: 700;
    font-size: 24px;
    color: @color-title;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__info-title {
    font-family: @decor-font;
  }

  &__map {
    .container();

    margin-bottom: 40px;
    height: 455px;
  }
}
