.contacts {
  padding: 40px 0;

  font-family: @decor-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-base;

  background-color: #ffffff;

  &__wrapper {
    .container();

    box-sizing: border-box;
    padding: 0 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;

    font-family: @base-font;
    font-weight: 700;
    font-size: 24px;
    color: @color-title;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__info-title {
    font-family: @decor-font;
  }

  &__map {
    .container();

    margin-bottom: 40px;
    height: 455px;
  }
}

@media @tablet-widths {
  .contacts {
    padding: 50px 0;
    padding-bottom: 55px;

    font-size: 16px;
    line-height: 30px;

    &__wrapper {
      box-sizing: content-box;
      padding: 0 50px;
    }

    &__title {
      margin-bottom: 50px;

      font-size: 40px;
      line-height: 50px;
    }

    &__map {
      width: 768px;
      margin-bottom: 55px;
    }

    &__info {
      margin-bottom: 60px;

      &-param {
        float: left;
        width: 330px;
      }

      &-title {
        width: 75px;
        vertical-align: top;
        border-collapse: collapse;
      }
    }
  }
}
