.form {

  &__group {
    padding: 30px 0;
    border: none;
    border-top: 1px solid @color-theme;
  }

  &__capture {
    margin: 0;
    padding: 0;
    padding-right: 30px;

    text-align: left;
    color: @color-theme;
    text-transform: uppercase;
  }

  &__input {
    font-family: @base-font;
    font-size: 17px;
    line-height: 19px;
    font-weight: 700;
  }
}
