.goods-promo {
  padding-top: 30px;
  padding-bottom: 35px;

  font-family: @decor-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @color-base;

  background-color: #ffffff;

  &__title {
    margin: 0;
    margin-bottom: 10px;

    font-family: @base-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: @color-title;
  }

  &__status {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: @color-theme;
    text-transform: uppercase;
  }

  &__params {
    margin-bottom: 30px;

    line-height: 20px;
  }

  &__cell {
    height: 40px;

    &--title {
      width: 100px;
    }
  }

  &__image {
    margin-bottom: 25px;
  }

  &__price {
    display: block;
    margin-bottom: 30px;

    font-family: @base-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
