.main-nav {
  display: flex;
  flex-wrap: wrap;

  font-family: @base-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: @color-strong;

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__user-list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    font-size: 0;

    list-style: none;
    border-bottom: 1px solid #ececec;

    &:hover {

      a {
        opacity: 0.6;
        transition: opacity 0.4s;
      }

      svg {
        opacity: 1;
        fill: @color-theme;

        transition: opacity 0.5s, fill 0.4s;
      }
    }

    &:active {

      a {
        opacity: 0.3;
      }

      svg {
        opacity: 0.3;
      }
    }

    &--menu {

      &:first-child {
        border-top: 1px solid #ececec;
      }

      &:nth-child(n+3) {
        display: none;

        a {
          font-size: 14px;
        }
      }
    }
  }

  &__link {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 30px;
    padding-left: 75px;

    color: inherit;
    font-size: 16px;
    text-decoration: none;
  }

  &__icon {
    position: absolute;
    top: 33px;
    left: 30px;

    display: inline-block;

    opacity: 0.2;
  }
}

@media @mobile-width-only {
  .main-nav {

    &__toggle {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;

      width: 80px;
      height: 80px;
      border: none;
      padding: 0;

      font-size: 0;

      background-color: inherit;

      &:active,
      &:hover {
        outline: none;
      }
    }

    &--closed .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 30px;
      right: 30px;

      width: 20px;
      height: 2px;

      background-color: #221f1f;
      box-shadow: 0 6px 0 0 #221f1f,
                  0 12px 0 0 #221f1f;
    }

    &--opened .main-nav__toggle {

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 37px;
        right: 25px;

        width: 30px;
        height: 2px;

        background-color: #221f1f;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    &--closed {

      .main-nav__list,
      .main-nav__user-list {
        display: none;
      }
    }

    &--no-js {

      .main-nav__toggle {
        display: none;
      }

      .main-nav__list,
      .main-nav__user-list {
        display: block;
      }
    }
  }
}

@media @tablet-widths {
  .main-nav {
    justify-content: flex-end;

    &__toggle {
      display: none;
    }

    &__list {
      position: absolute;
      top: 75px;
      left: 0;
      z-index: 10;

      width: auto;

      font-size: 0;
    }

    &__user-list {
      width: auto;

      font-size: 0;
    }

    &__item {
      display: inline-block;

      font-size: 16px;
      vertical-align: top;

      border-bottom: none;
      border-left: 1px solid #ececec;

      &--menu {
        min-width: 167px;
        border: none;

        &:first-child {
          border: none;
        }
      }

      &--search {
        height: 100%;
      }
    }

    &__link {
      padding-right: 0;

      &--menu {
        padding-left: 0;

        font-size: 14px;
      }

      &--search {
        box-sizing: border-box;
        height: 100%;

        font-size: 0;
        line-height: 0;
      }
    }
  }
}

@media @desktop-widths {
  .main-nav {

    &__list {
      position: absolute;
      top: 0;
      left: 0;

      max-width: 450px;
    }

    &__item {

      &--menu {
        min-width: 189px;

        font-size: 16px;

        &:first-child {
          border-right: 1px solid #ececec;
        }

        &:nth-child(even) {
          padding-left: 35px;
        }

        &:nth-child(n+3) {
          display: inline-block;

          font-size: 14px;

          a {
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
