.order {

  &__wrapper {
    .container();

    box-sizing: border-box;
    padding: 0 30px;
  }

  &__description {
    margin-bottom: 25px;

    font-family: @decor-font;
    font-size: 15px;
    line-height: 25px;
    color: @color-base;

    br {
      display: none;
    }
  }
}

@media @tablet-widths {
  .order {

    &__wrapper {
      box-sizing: content-box;
      padding: 0 50px;

      &--row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__description {
      font-size: 16px;
      line-height: 30px;

      br {
        display: inline;
      }
    }
  }
}
