.presentation {
  padding: 35px;
  padding-top: 0;
  margin-bottom: 60px;
  border: 1px solid #ececec;

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin: 25px 0;
  }

  &__title {
    margin: 0;
    margin-left: 25px;
    flex-basis: 69%;

    font-family: @base-font;
    font-size: 16px;
    line-height: 24px;
  }

  &__media {
    position: relative;
    margin: 0 -35px;
    font-size: 0;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 102px;
    height: 78px;
    padding: 0;
    border: none;

    font-size: 0;
    text-align: center;

    background-color: transparent;
  }

  &__description {
    margin: 25px 0;

    font-family: @decor-font;
    font-size: 14px;
    line-height: 24px;
    color: @color-base;
  }

  &__order-link {
    font-family: @decor-font;
    color: @color-base;
  }
}

@media @tablet-widths {
  .presentation {
    display: flex;
    flex-direction: column;
    padding: 45px;
    padding-top: 0;

    &__media {
      order: -1;
      margin: 0 -45px;
      // border-bottom: 1px solid #ececec;
    }

    &__title-wrapper {
      margin: 35px 0;
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
    }

    &__description {
      margin-top: 0;
      margin-bottom: 35px;

      font-size: 16px;
      line-height: 30px;
    }
  }
}
