.reviews {
  padding-top: 30px;
  padding-bottom: 45px;

  font-family: @decor-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-base;

  background-color: #ffffff;

  &__wrapper {
    .container();

    box-sizing: border-box;
    padding: 0 30px;
  }

  &__title {
    margin: 0;
    margin-bottom: 35px;

    font-family: @base-font;
    font-weight: 700;
    font-size: 24px;
    color: @color-title;
  }

  &__item {
    margin: 0;
    margin-bottom: 30px;

    &-text {
      margin: 0;
      margin-bottom: 30px;
    }
  }

  &__author-name {
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: @color-strong;
  }

  &__author-nick {
    color: @color-base;
  }
}

@media @tablet-widths {
  .reviews {
    padding-bottom: 0;

    font-size: 16px;

    .container {
      width: 768px;
      padding-top: 80px;
      padding-right: 20px;
      padding-bottom: 180px;
      padding-left: 50px;

      background: #ffffff url(../img/review-bg.jpg) no-repeat left top;
    }

    &__title {
      margin-bottom: 60px;

      font-size: 40px;
      line-height: 50px;
    }

    &__author {
      width: 334px;
    }
  }
}

@media @desktop-widths {
  .reviews {

    .container {
      width: 1050px;
      padding: 0 175px;
      padding-top: 85px;
      padding-bottom: 185px;
    }

    &__title {
      font-size: 50px;
      line-height: 57px;
    }
  }
}
