.reviews {
  margin-bottom: 45px;
  
  font-family: @decor-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-base;

  background-color: #ffffff;

  &__title {
    margin: 0;
    margin-bottom: 35px;

    font-family: @base-font;
    font-weight: 700;
    font-size: 24px;
    color: @color-title;
  }

  &__item {
    margin: 0;
    margin-bottom: 30px;

    &-text {
      margin: 0;
      margin-bottom: 30px;
    }
  }

  &__author-name {
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: @color-strong;
  }

  &__author-nick {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: @color-base;
  }
}
